# Server Port & Mode
PORT=
MODE=

# server settings
DB_URI=
SERVER_URL=
JWT_SECRET=

# AWS S3 Configuration
AWS_REGION=
AWS_ACCESSKEYID=
AWS_SECRETACCESSKEY=
AWS_BUCKET_NAME=

# Brevo API Key
SENDER_NAME=
SENDER_EMAIL=
BREVO_API_KEY=
