# Server Port & Mode
PORT=3007
MODE=development # production

# server settings
DB_URI=mongodb://localhost:27017/restaurant-dev
SERVER_URL=https://localhost:3007/api
JWT_SECRET=restaurant-dev

# AWS S3 Configuration
AWS_REGION=
AWS_ACCESSKEYID=
AWS_SECRETACCESSKEY=
AWS_BUCKET_NAME=

# Brevo API Key
SENDER_NAME=
SENDER_EMAIL=
BREVO_API_KEY=

# One Signal
ONESIGNAL_API_KEY=os_v2_app_f5vibite
ONESIGNAL_APP_ID=2f6

# Apple Sign In
APPLE_CLIENT_ID=

# Google Sign In
GOOGLE_CLIENT_ID=