# Server Port & Mode
PORT=3007
MODE=development

# Database URI
DB_URI=mongodb://localhost:27017/teilimDB

# Front App url
FRONT_APP_URL=http://localhost:3000

# Backend URL
BACK_APP_URL=http://localhost:3007

# Secrate keys
JWT_SECRET=Check
STRIPE_SECRET_KEY= 'sk_test_1234'
GOOGLE_API_KEY='AIzaSyAgJv-ftPVlYi2WqATEmE'

# Gmail Config
GMAIL_USER=afifurrahman444@gmail.com
GMAIL_PASS=gpbh jkva ictq wdxz

# Sendgrid API Key
SENDGRID_API_KEY=
MAIL_HOST=smtp.sendgrid.net
MAIL_PORT=587
MAIL_FROM=info@hasbisoft.com